:root{
    /* color */
    --primaryColor: #F1F3FF;
    --secondaryColor: #5CB85F;

    /* Font */
    --mainFont: 'Helvetica', sans-serif;
}

/* Responsive small devices */
@media only screen and (max-width: 576px){
    #offcanvasNavbar{
        width: 50%;
    }
    .img-car-hero img{
        padding-top: 20px;
        width: 100%;
        height: 100%;
    }
    .hero-tagline h1{
        padding-top: 50px;
    }
    .img-service img{     
        padding-top: 100px;
        padding-bottom: 50px;
    }
    #why h2{
        text-align: center;
    }
    .why-title p{
        text-align: center;
    }
    #cta p{
        width: 60%;
    }
    .rate img{
        position: relative;
        left: 35%;
        right: 35%;
    }
    .img-testimony img{
        position: relative;
        padding-top: 40px;
    }

}

/* Responsive medium devices */
@media only screen and (max-width: 768px){
     .hero-tagline h1{
        padding-top: 100px;
    }
    .img-car-hero img{
        padding-top: 20px;
        width: 105%;
        height: 100%;
    }
    .img-service img{     
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #cta p{
        width: 60%;
    }
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--mainFont);
}

/* HEADER */
.header{
    background-color: var(--primaryColor);
}

/* NAVBAR */
*{
    z-index: 2;
}

.navbar{
    z-index: 3;
    background-color: var(--primaryColor);
}

.nav-link{
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.nav-link.active{
    font-weight: 700;
}

.nav-link:hover{
    color: var(--secondaryColor);
}

.button-regist{
    background-color: var(--secondaryColor);
    color: white;
    width: 81px;
    height: 36px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    margin-left: 4px;
}

/* HERO SECTION */
#hero{
    background-color: var(--primaryColor);
    height: 75%;
    width: 100%;
    padding: 0px;
}

.img-car{
    height: 100%;
    width: 120%;
    padding-top: 100px;
}

.hero-tagline h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
}

.hero-tagline p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    width: 80%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.button-hero{
    background-color: var(--secondaryColor);
    color: white;
    width: 140px;
    height: 36px;
    border: none;
    font-weight: 700;
    font-size: 14px;
}

/* OUR SERVICE SECTION */
#our{
    padding: 100px 0;
}
.service-group h1{
    font-size: 24px;
    font-weight: 700;
    width: 70%;
}

.service-group p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    width: 85%;
}

.icon{
    height: 24px;
    width: 24px;
    padding: 4px;
    color: #0D28A6;
    background-color: #CFD4ED;
    border-radius: 100%;
}

/* WHY US SECTION */
#why{
    padding: 50px 0;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

.sub-title{
    font-size: 14px;
    font-weight: 300;
}

.card-why{
    width: 100%;
    height: 196px;
    border-radius: 8px;
    padding: 20px;
}

.color-icon{
    height: 20px;
    width: 20px;
    color: white;
}

.circle-icon-card1{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F9CC00;
}

.circle-icon-card2{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FA2C5A;
}

.circle-icon-card3{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0D28A6;
}

.circle-icon-card4{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #5CB85F;
}

.card-why h3{
    font-size: 16px;
    font-weight: 700;
}

.card-why p{
    font-size: 14px;
    font-weight: 300;
}

/* TESTIMONIAL SECTION */
#testi{
    padding: 100px 0;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

.sub-title{
    font-size: 14px;
    font-weight: 300;
}

/* CTA BANNER SECTION */
#cta{
    padding: 100px 0;
}

.cta-group h2{
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.cta-group p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    width: 45%;
}

.bg-start{
    background-color: #0D28A6;
    padding: 50px;
}

.button-start{
    background-color: var(--secondaryColor);
    color: white;
    width: 140px;
    height: 36px;
    border: none;
    font-weight: 700;
    font-size: 14px;
}

/* FAQ SECTION */
#faq{
    padding: 100px 0;
}

.faq-tagline h3{
    font-size: 24px;
    font-weight: 700;
}

.faq-tagline p{
    font-size: 14px;
    font-weight: 300;
}

.faq-list{
    font-size: 14px;
    font-weight: 300;
}

/* FOOTER */
#footer{
    padding: 50px 0;
}

.footer-container p{
    font-size: 14px;
    font-weight: 300;
    width: 60%;
}

.footer-container h4{
    font-size: 14px;
    font-weight: 400;
}

.icon-connect{
    height: 32px;
    width: 32px;
    padding: 6px;
    color: white;
    background-color: #0D28A6;
    border-radius: 100%;
}

/* TESTIMONY */
.card-testimony{
    background-color: var(--primaryColor);
    border: var(--primaryColor);
    border-radius: 8px;
}

.card-body p{
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}

.card-body h5{
    font-size: 14px;
    font-weight: 700;
}

.carousel-control-next {
    background-color: var(--secondaryColor);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    top: 100%;
    padding: 5px;
    left: 48%;
    margin-left: 40px;
    position: absolute;
}

.carousel-control-prev{
    background-color: var(--secondaryColor);
    height: 32px;
    width: 32px;
    top: 100%;
    padding: 5px;
    left: 45%;
    border-radius: 50%;
    position: absolute;
}







